#### SQlit is a self contained ,severless and zero configuration database

In [1]:
import sqlite3

In [9]:
## connect to a SQlit Database 
connection =sqlite3.connect('example.db')
connection

In [10]:
cursor=connection.cursor()
# we will make a cursor object that will iterate through all the tables and records

In [11]:
## create a table inside our database 
cursor.execute(''' 
Create Table if not exists employees(
    ID integer Primary key,
    name Text Not NUll ,
    age Integer,
    department text
    )
''')

## Commit the changes 
connection.commit()

In [12]:
cursor.execute(''' 
Select * from employees
    
''')

In [13]:
## insert some data 

cursor.execute(''' 
Insert into employees(name,age,department)
    values('Krish',32,'Data Scientist')
''')

cursor.execute(''' 
Insert into employees(name,age,department)
    values('lalit',23,'Data Scientist')
''')
cursor.execute(''' 
Insert into employees(name,age,department)
    values('Doland',32,'Sales')
''')

# to commit the changes 
connection.commit()

In [ ]:
### querying the data 
cursor.execute('select * from employees')
rows=cursor.fetchall() # function that we use to get all the records from select * command 
## print the query data 
for row in rows :
    print(row)c

(1, 'Krish', 32, 'Data Scientist')
(2, 'lalit', 23, 'Data Scientist')
(3, 'Doland', 32, 'Sales')

In [19]:
## update the data 
cursor.execute(''' 
update employees 
set age=39
where name="lalit" 
''')

connection.commit()

In [20]:
cursor.execute(''' 
select * from employees
''')

rows=cursor.fetchall()
for r in rows :
    print(r)

(1, 'Krish', 32, 'Data Scientist')
(2, 'lalit', 39, 'Data Scientist')
(3, 'Doland', 32, 'Sales')

In [21]:
## delete the data 
cursor.execute(''' 
 delete from employees 
 where name='Krish'  
 ''')

connection.commit()

In [22]:
cursor.execute(''' 
select * from employees
''')

rows=cursor.fetchall()
for r in rows :
    print(r)

(2, 'lalit', 39, 'Data Scientist')
(3, 'Doland', 32, 'Sales')

In [23]:
 ## close the connection 
 connection.close()

#### Practice Questions

In [25]:
connection=sqlite3.connect('test.db')
connection

In [26]:
cursor=connection.cursor()

In [29]:
cursor.execute('''
Create table employee1(
    Id  Integer primary key,
    Name text,
    age Integer,
    department text
)
 ''')

connection.commit()

In [30]:
connection.close()

In [31]:
#python function to inser the data 
def Insertion(name,age,department):
    connection= sqlite3.connect('test.db')
    cursor=connection.cursor()
    cursor.execute(''' 
    insert into employee1(name,age,department)
    values (?,?,?)''',(name,age,department)) 
    connection.commit()
    connection.close()


Insertion('lalit',23,'DS'
)

In [34]:
Insertion('Alex',23,'FIN')
Insertion('Samual',34,'FIN')
Insertion('Raghav',45,'DS')
Insertion('Raghu',28,'DS')
Insertion('Shiv',29,'DS')

In [35]:
def fetch_all():
    connection= sqlite3.connect('test.db')
    cursor=connection.cursor()
    cursor.execute(''' 
    Select * from employee1''') 
    records=cursor.fetchall()
    for lines in records:
         print(lines) 
    connection.close()

fetch_all()

(1, 'lalit', 23, 'DS')
(2, 'Alex', 23, 'FIN')
(3, 'Samual', 34, 'FIN')
(4, 'Raghav', 45, 'DS')
(5, 'Raghu', 28, 'DS')
(6, 'Shiv', 29, 'DS')

In [38]:
def fetch_Department(department1):
    connection= sqlite3.connect('test.db')
    cursor=connection.cursor()
    cursor.execute(''' 
    Select * from employee1 where department=?''',(department1,)) 
    records=cursor.fetchall()
    for lines in records:
         print(lines) 
    connection.close()

fetch_Department('DS')

(1, 'lalit', 23, 'DS')
(4, 'Raghav', 45, 'DS')
(5, 'Raghu', 28, 'DS')
(6, 'Shiv', 29, 'DS')

In [41]:
def Upadte(database,employee_id,department):
    connection=sqlite3.connect(database)
    cursor=connection.cursor()
    cursor.execute(''' 
        update employee1 
        set department=?
         where Id=?''',(department,employee_id)
    )
    connection.commit()
    connection.close()

#testing 
Upadte('test.db',5,'FIN')

In [42]:
#lets check 
fetch_all()

(1, 'lalit', 23, 'DS')
(2, 'Alex', 23, 'FIN')
(3, 'Samual', 34, 'FIN')
(4, 'Raghav', 45, 'DS')
(5, 'Raghu', 28, 'FIN')
(6, 'Shiv', 29, 'DS')

In [ ]:
# Handling Transactions 
def insert_multiple(employees):
    connection=sqlite3.connect('test.db')
    cursor=connection.cursor()
    try:
        cursor.executemany(''' 
        Insert into employee1(name,age,department)
        values(?,?,?)''',employees)
        connection.commit()
        print("all transaction are successfully entered")
    except Exception as e:
        connection.rollback()
        print("an error occured , trasactions are rolled back ")
    finally:
        connection.close()

#testing

In [44]:
employees = [
    ('Frank', 40, 'Finance'),
    ('Grace', 29, 'Engineering'),
    ('Hannah', 35, 'Marketing'),
    ('Ivan', 38, 'Sales'),
    ('Jack', 45, 'HR')]

insert_multiple(employees)

all transaction are successfully entered

In [45]:
fetch_all()

(1, 'lalit', 23, 'DS')
(2, 'Alex', 23, 'FIN')
(3, 'Samual', 34, 'FIN')
(4, 'Raghav', 45, 'DS')
(5, 'Raghu', 28, 'FIN')
(6, 'Shiv', 29, 'DS')
(7, 'Frank', 40, 'Finance')
(8, 'Grace', 29, 'Engineering')
(9, 'Hannah', 35, 'Marketing')
(10, 'Ivan', 38, 'Sales')
(11, 'Jack', 45, 'HR')